---
title: Pricing
heading: We're afraid of the dark!
description: Help us keep the lights on.
pricing_table:
  - name: Free
    color: "#8e8e8e"
    features:
      - text: $0 per month
        highlight: true
      - text: 14-day free trial of all premium features
        highlight: true
      - text: Write your stories and share with your readers
        highlight: false
      - text: Structural prompts and advice
        highlight: false
      - text: Stay organized with chapter outlines
        highlight: false
      - text: Mobile mode + dark mode
        highlight: false
      - text: Download your story
        highlight: false
    call_to_action:
      link: https://www.storyghost.app
      text: Get started
  - name: Premium
    color: "#412277"
    features:
      - text: $7 per month or $15 per 3 months
        highlight: true
      - text: 14-day free trial of all premium features
        highlight: true
      - text: Everything in the Free tier
        highlight: false
      - text: AI-powered autocomplete
        highlight: false
      - text: Visual thesaurus of your words
        highlight: false
      - text: Automatically rephrase sentences
        highlight: false
    call_to_action:
      link: https://www.storyghost.app
      text: Get started

faq:
  - question: What types of payment do you accept?
    answer: We partner with Stripe.com, which accepts credit cards including MasterCard, Visa or American Express.
  - question: Can I change my plan later?
    answer: Yes, upgrade or downgrade your plan at anytime.
  - question: Questions?
    answer: <a href="https://storyghost.ai/contact/">We're friendly folks who'd love to chat!</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
